.container {
  margin-top: 10px;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 20px;
  width: 1200px;
}

form {
  margin-bottom: 10px;
}
#search-button {
  border: solid 1px #4f4f4f;
  border-radius: 3px;
}
#local-button {
  font-weight: bold;
  border: solid 1px #4f4f4f;
  color: #f03a17;

  border-radius: 3px;
}
.navbar {
  font-size: 15px;
  color: #212529;
}
h1 {
  margin-bottom: 0;
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 15px;
  margin-top: 2px;
}
#main-weather-display {
  margin-left: 50px;
  margin-right: 50px;
}

li {
  list-style: none;
}
#current-temp {
  font-size: 100px;
  font-weight: bold;
  margin-top: -70px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
