.container {
  margin-top: 10px;
  background-color: #e8ffee;
  border-radius: 10px;
  padding: 20px;
  width: 1200px;
}
form {
  margin-bottom: 10px;
}
#search-button {
  border: solid 2px #f0f0f0;
  border-radius: 3px;
}
#local-button {
  font-weight: bold;
  border: solid 2px #f0f0f0;
  color: #f03a17;

  border-radius: 3px;
}
.navbar {
  font-size: 15px;
}
li {
  list-style: none;
}
#current-temp {
  font-size: 60px;
}
h1 {
  margin-bottom: 0;
  font-size: 60px;
}
h2 {
  font-size: 15px;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
